body {
  background: #999;
}

div, span, li, i {
  display: inline-block;
  box-sizing: border-box;
}

ol {
  margin: 0;
  padding: 0;
}

#bmo {
  position: absolute;
  left: 50%;
  top: 50%;
}

#bmo {
  width: 450px;
  height: 600px;
  margin-left: -225px;
  margin-top: -300px;
}

#bmo.small {
  width: 225px;
  height: 300px;
  margin-left: -112.5px;
  margin-top: -150px;
}

#bmo .bordered {
  border: 0.25em solid #111;
}

#bmo .rounded {
  border-radius: 1em;
}

#bmo .body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #336699;
}

#bmo .body .face {
  position: relative;
  width: 80%;
  height: 40%;
  margin-left: 10%;
  margin-top: 10%;
  background-color: #B3DDFF;
}

#bmo .body .face .eye {
  display: block;
  position: absolute;
  height: 6%;
  width: 4%;
  margin-top: 20%;
  background-color: #111;
  border-radius: 100%;
}

#bmo .body .face .eye.eye-left {
  left: 20%;
}

#bmo .body .face .eye.eye-right {
  right: 20%;
}

#bmo .body .face .mouth {
  display: block;
  position: absolute;
  width: 20%;
  left: 40%;
  bottom: 20%;
  border: 0.25em solid #111;
  background: #FFF;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

#bmo .body .face .mouth.mouth-open {
  height: 10%;
  background-color: white;
  border-top: 0.5em solid #111;
}

#bmo .body .belly {
  position: absolute;
  width: 80%;
  height: 50%;
  left: 10%;
  top: 50%;
}

#bmo .body .belly .drive {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 7%;
  background-color: #111;
  border-radius: 0.4em;
}

#bmo .body .belly .ejector {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 6%;
  height: 7%;
  background-color: #111;
  border-radius: 100%;
}

#bmo .body .belly .d-pads {
  display: block;
  position: absolute;
  left: 0;
  top: 30%;
  width: 25%;
  height: 25%;
  list-style: none;
}

#bmo .body .belly .d-pads .d-pad {
  position: absolute;
  width: 40%;
  height: 40%;
  background-color: #FFF;
}

#bmo .body .belly .d-pads .d-pad i {
  position: absolute;
  height: 0;
  width: 0;
  margin-left: -12.5%;
  margin-top: -12.5%;
}

#bmo .body .belly .d-pads .d-pad.center {
  top: 30%;
}

#bmo .body .belly .d-pads .d-pad.top {
  top: 0;
  left: 30%;
}

#bmo .body .belly .d-pads .d-pad.top i {
  top: 45%;
  left: 50%;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-bottom: 0.5em solid #111;
}

#bmo .body .belly .d-pads .d-pad.right {
  top: 30%;
  left: 60%;
}

#bmo .body .belly .d-pads .d-pad.bottom {
  top: 60%;
  left: 30%;
}

#bmo .body .belly .d-pads .d-pad.left {
  top: 30%;
  left: 0;
}
